:root {
  /* Colors Styles */
  --gray-0: black;
  --gray-24: #3D3D3D;
  --gray-88: #DFDFDF;
  --background: #FAF9F7;

  /* Brand Color */
  --primary: #00C88C;
  --secondary: #5E20A4;

  /* Overlay */
  --overlay: linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
}

body {
  background: var(--background);
  font-family: 'Inter', sans-serif;
  line-height: 2.8rem;
  color: var(--gray-24);
}

main, header, footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

small {
  font-size: 1.2rem;
}

input {
  border: none;
  outline: none;
}

a {
  font-size: 1.4rem;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  opacity: 0.5;
}

.button-appearance {
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 0.4rem;
  height: 100%;
  width: 100%;
  padding: 2.2rem;
  font-size: 1.4rem;
  font-weight: 500;
}

button, a {
  transition: 0.2s;
}

/* .button-appearance:hover {
  background-color: #028358;
} */

hr {
  border: 0.1rem solid var(--gray-88);
  align-self: center;
  width: 60%;
}

.custom-link {
  color: var(--secondary);
  width: auto;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  max-width: 144rem;
}

.main-section__title, .main-section__title--smaller, .footer__title {
  line-height: 3.2rem;
  font-weight: 500;
}

.main-section__title, .footer__title {
  font-size: 2.8rem;
  margin-bottom: 4rem;
}

.main-section__title--smaller {
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
}

header {
  background-image: url('resources/banner_image.png'), var(--overlay);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  height: 80vh;
}

.nav-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.nav-header__links {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  align-items: center;
}

.nav-header__logo {
  height: 6.4rem;
  width: 4.8rem;
}

.nav-header__button {
  width: 23.4rem;
  height: 4.4rem;
  margin-left: auto;
}

.nav-header__sign {
  margin: 0 1.2rem 0 2.4rem;
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  max-width: 144rem;
}

.hero__main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  width: 100%;
  margin-left: 12.8rem;
}

.hero__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0;
  width: 100%;
  width: 90%;
}

.hero__title {
  width: 80%;
  font-size: 4.0rem;
  line-height: 4.8rem;
  font-weight: 500;
}

.hero__subtitle {
  width: 90%;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.hero__player {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
}

.hero__play-icon {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: 1.6rem;
}

.hero__banner {
  height: 29rem;
  width: 31.6rem;
  margin-right: 22.8rem;
}

.profile-example {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 2.8rem;
  border-bottom: 0.1rem solid #DFDFDF;
  justify-content: center;
}

.profile-example__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 70%;
  margin: 0.2rem;
}

.profile-example__img {
  margin-right: 3.2rem;
  height: 6rem;
  width: 6rem;
  border: 0.4rem solid white;
  filter: drop-shadow(0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
  border-radius: 2.8rem;
}

.profile-example__date {
  font-size: 1.6rem;
  font-weight: 500;
}

main {
  align-items: center;
  padding: 12rem 0;
}

.first-section, .third-section {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.first-section {
  margin-bottom: 12rem;
}

.first-section__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2.8rem;
  text-align: start;
  max-width: 44.4rem;
}

.first-section .main-section__title {
  max-width: 60%;
}

.first-section__img {
  height: 39.2rem;
  width: 58.4rem;
  margin-left: 2.8rem;
}

.second-section {
  margin: 6.4rem 0;
}

.second-section__subtitle {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

form {
  display: flex;
  margin-top: 7.4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form__input {
  font-size: 1.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--gray-88);
  padding: 0 2rem;
  height: 4.8rem;
  width: 23.2rem;
  margin-right: 1.2rem;
}

.form__input::placeholder {
  opacity: 0.6;
}

.form__button {
  height: 4.8rem;
  width: 9.6rem;
  padding: 1rem;
}

.third-section {
  margin: 9.6rem 0;
}

.third-section__img {
  height: 33.6rem;
  width: 45.6rem;
  margin-left: 22.8rem;
}

.third-section__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 22.8rem;
  margin-left: 4.4rem;
  text-align: start;
}

.fourth-section {
  margin: 9.6rem;
}

.fourth-section__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 64%;
}

.fourth-section__img {
  height: 39.2rem;
  width: 98.4rem;
  margin-top: 6.4rem;
}

.fifth-section {
  margin-top: 9.6rem;
}

.fifth-section__img {
  height: 9.6rem;
  width: 21.6rem;
}

.fifth-section__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 56%;
  margin-top: 4rem;
}

footer {
  align-items: center;
  text-align: center;
  background-color: white;
  padding-top: 8rem;
  padding-bottom: 3.2rem;
}

.footer__header {
  margin: 1.5rem 0;
}

.footer__title {
  margin-bottom: 1.6rem;
}

.footer__subtitle {
  font-size: 1.8rem;
}

.footer__button {
  width: 30.4rem;
  background-color: var(--secondary);
  justify-content: space-evenly;
  height: 6.8rem;
}

.footer__button__text-container {
  text-align: start;
}

.footer__button:hover {
  background-color: #411672;
}

.footer__nanny-link {
  margin: 2.4rem 0 7.2rem 0;
}

.footer__links-nav {
  width: 100%;
  margin-bottom: 7.6rem;
}

.footer__links-ul {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
}

.footer__link-logo-container {
  display: flex;
  align-items: flex-start;
  width: 16.7rem;
  margin-left: 12.8rem;
}

.footer__link-logo {
  height: 2.4rem;
  width: 6.4rem;
}

.footer__main-links-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__main-links {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
}

.footer__main-links > li {
  margin-right: 2.8rem;
}

.footer__main-links > li:last-child {
  margin-right: 0;
}

.footer__links__social-media {
  display: flex;
  justify-content: space-between;
  width: 16.7rem;
  margin-right: 12.8rem;
}

.footer__copyright {
  opacity: 0.6;
}
